/* Global Styles */

body {
  margin: 0;
  padding: 0;
}

main {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #000;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

a:hover {
  text-decoration: underline;
}

/* Header Navigation */

.header-nav {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-nav-bar {
  width: 100%;
  padding: 2.5rem 0rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.nav-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.nav-heading:hover {
  text-decoration: underline;
}

.header-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  @media (max-width: 768px) {
    align-items: center;
    gap: 2rem;
  }
}

.header-link-active {
  color: red;
  margin: 0;
  line-height: normal;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 0;
  background-color: #000;
  border-color: transparent;
  border-width: 0px;
}

.header-divider {
  margin-bottom: 2.5rem;
}

.footer-divider {
  margin-top: 2.5rem;
}

/* Home Page */

.homepage-section {
  text-align: center;
  margin: 0 auto;
}

.homepage-heading > h1 {
  font-size: 2rem;
  margin: 0 0 1rem;
}

.homepage-heading > em {
  font-size: 1.5rem;
}

.homepage-section > p {
  font-size: 1.2rem;
  margin: 0;
}

.homepage-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 2rem auto;
}

/* About Page */

.about-section {
  margin: 0 auto;
  display: flex;
  gap: 2.5rem;

  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}
.bio-photo {
  max-width: 400px;

  @media (max-width: 600px) {
    max-width: 100%;
  }
}

.about-portfolio-link {
  color: blue;
}

.about-portfolio-link:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  overflow: hidden;
}

.footer-content {
  text-align: center;
  font-size: 0.9rem;
  color: gray;
  margin: 2.5rem 0;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  gap: 0.5rem;
  margin-top: -8px;
}

.footer-icon {
  width: 24px;
  height: 24px;
}

/* Portfolio Page */

.portfolio-heading {
  text-align: center;
  font-size: 2rem;
}

.portfolio-heading > h1 {
  margin: 0;
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
  gap: 50px;
}

.portfolio-image-gradient {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.portfolio-image-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  z-index: -1;
  display: block;
}

.portfolio-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: all 0.3s ease;
  display: block;
}

.project-info {
  background-color: #000;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 40px;
  gap: 20px;

  @media (min-width: 1200px) {
    padding: 40px 240px;
  }
}

.project-title {
  width: 100%;
  color: white;
  margin: 0;
  font-size: 32px;
  font-weight: 600;
}

.project-technologies {
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 2px lightgray;
  margin: 0;
}

.project-description {
  color: white;
  margin: 0;
}

/* Contact Page */

.contact-section {
  text-align: center;
}
