/* Global Styles */

body {
  margin: 0;
  padding: 0;
}

main {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #000;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

a:hover {
  text-decoration: underline;
}

/** Use this to make content centered and 80% width which is typical for most content */
.content-width {
  width: 80%;
  margin: 0 auto;
}

/* Header Navigation */

.header-nav {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-nav-bar {
  width: 100%;
  padding: 2.5rem 0rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.nav-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.nav-heading:hover {
  text-decoration: underline;
}

.header-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  @media (max-width: 768px) {
    align-items: center;
    gap: 2rem;
  }
}

.divider {
  width: 100%;
  height: 1px;
  margin: 0;
  background-color: #000;
  border-color: transparent;
  border-width: 0px;
}

.header-divider {
  margin-bottom: 2.5rem;
}

.footer-divider {
  margin-top: 2.5rem;
}

/* Home Page */

.homepage-section {
  text-align: center;
  margin: 0 auto;
}

.homepage-heading > h1 {
  font-size: 2rem;
  margin: 0 0 1rem;
}

.homepage-heading > em {
  font-size: 1.5rem;
}

.homepage-section > p {
  font-size: 1.2rem;
  margin: 0;
}

.homepage-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 2rem auto;
}

/* About Page */

.about-section {
  margin: 0 auto;
  display: flex;
  gap: 2.5rem;

  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}
.bio-photo {
  max-width: 400px;

  @media (max-width: 600px) {
    max-width: 100%;
  }
}

.about-portfolio-link {
  text-decoration: underline;
  color: blue;
}

/* Footer */
.footer {
  overflow: hidden;
}

.footer-content {
  text-align: center;
  font-size: 0.9rem;
  color: gray;
  margin: 2.5rem 0;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  gap: 0.5rem;
  margin-top: -8px;
}

.footer-icon {
  width: 24px;
  height: 24px;
}

/* Portfolio Page */

.portfolio-heading {
  text-align: center;
  font-size: 2rem;
}

.portfolio-heading > h1 {
  margin: 0;
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
}

.parallax-image {
  min-height: 500px;
  position: relative;
  overflow: hidden; /* ensures blur edges don’t leak */
}

.parallax-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: inherit;
  z-index: 0;
  margin: -10px;
}

.parallax-image-caption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 16px;
  font-weight: 600;
  font-size: 20px;
  background-color: #000;
  z-index: 1; /* sits above the blurred bg */
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.project-info {
  background-color: #000;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 40px;
  gap: 20px;
}

.project-technology-icon {
  width: 40px;
  display: block;
}

.project-technologies {
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 2px lightgray;
  margin: 0;
}

.project-description {
  color: white;
  margin: 0;
}

.project-visit-button {
  background-color: magenta;
  color: black;
}
